.coursechapter-container{
    margin: 60px auto;
    width: 80%;
    padding: 16px;
}
.cover-following {
    border: 1px solid #ddd;
    width: 40%;
    box-shadow: antiquewhite;
    padding: 20px;
    background-color: #fafafa;
    cursor: pointer;
}

.coursechapter-container p {
    padding: 20px 0;
}
.coursechapter-container h2 {
    margin-bottom: 15px;
}
.cover-following li {
    padding: 6px 0;
    margin-left: 20px;
}
.coursechapter-container li {
    padding: 6px 0;
}